<div class="row">
  <div class="col">
    <img [src]="recipe.imageUrl" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">Manage Recipe</button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Go to Shopping </a>
        </li>
        <li>
          <a href="#">Edit recipe</a>
        </li>
        <li>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>
